<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
</head>
<body>
<button onclick="getToken()">获取token</button>
<p id="show"></p>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<script>
  let getToken = function () {
      document.getElementById('show').innerText = localStorage.token;
      $.ajax({
      type: 'POST',
      url: '/',
      data:{token:localStorage.token},
      dataType: 'json',
      success: function(data){
        alert(data.message);
        if(data.resultCode==1){
          localStorage.token =data.token;
        }else if(data.resultCode==403) {
          localStorage.token =null;
          window.location.href ='/login';
        }
      },
      error:function(data) {
        console.log(data.msg);
      },
    });
  }
</script>
</body>
</html>
